mixin status(item)
    if item.status === 'active'
        a(
            href="javascript:;"
            data-status= item.status
            data-id = item._id 
            button-change-status
            class="badge badge-success"
        ) Hoạt động 
    else
        a(
            href="javascript:;"
            data-status= item.status
            data-id= item._id
            button-change-status
            class="badge badge-danger"
        ) Dừng hoạt động
